<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <preprocessRequest>
        <processor type="Sitecore.Pipelines.PreprocessRequest.StripLanguage, Sitecore.Kernel">
          <patch:attribute name="type">Sitecore.Support.Pipelines.PreprocessRequest.StripLanguage, Sitecore.Support.96648</patch:attribute>
        </processor>
      </preprocessRequest>
    </pipelines>
    <settings>
      <!--  LanguagesContextDatabase
            A name of the database that will be used in the check for registered languages.
            Default value: "master"
      -->
      <setting name="LanguagesContextDatabase" value="master" />
    </settings>
  </sitecore>
</configuration>